In [2]:
import pandas as pd
from scipy.stats import wasserstein_distance
from statistics import mean

### Lettura dati file degli score

In [4]:
PATH_FILE_SCORE = './tabellaScoreNuova.csv'

scores = pd.read_csv(PATH_FILE_SCORE)
scores.head(50)

   Utente1 Utente2   ScoreML
0   12_M_1  12_M_2  0.543131
1   12_M_1  12_M_3  0.507192
2   12_M_1  12_M_4  0.256462
3   12_M_1  12_M_5  0.293741
4   12_M_1  13_M_1  0.268435
5   12_M_1  13_M_2  0.185068
6   12_M_1  13_M_3  0.221212
7   12_M_1  13_M_4  0.232198
8   12_M_1  13_M_5  0.191751
9   12_M_1  15_M_1  0.202532
10  12_M_1  15_M_2  0.172812
11  12_M_1  15_M_3  0.197945
12  12_M_1  15_M_4  0.130063
13  12_M_1  15_M_5  0.162738
14  12_M_1   1_M_1  0.213774
15  12_M_1   1_M_2  0.202544
16  12_M_1   1_M_3  0.198942
17  12_M_1   1_M_4  0.196021
18  12_M_1   1_M_5  0.172450
19  12_M_1   7_M_1  0.189920
20  12_M_1   7_M_2  0.155386
21  12_M_1   7_M_3  0.204782
22  12_M_1   7_M_4  0.187627
23  12_M_1   7_M_5  0.175545
24  12_M_1   8_M_1  0.145100
25  12_M_1   8_M_2  0.225187
26  12_M_1   8_M_3  0.181443
27  12_M_1   8_M_4  0.230471
28  12_M_1   8_M_5  0.234225
29  12_M_2  12_M_3  0.618012
30  12_M_2  12_M_4  0.523859
31  12_M_2  12_M_5  0.470341
32  12_M_2  13_M_1  0.237045
33  12_M_2  13_M_2  0.194671
34  12_M_2  13_M_3  0.171923
35  12_M_2  13_M_4  0.172113
36  12_M_2  13_M_5  0.179515
37  12_M_2  15_M_1  0.215697
38  12_M_2  15_M_2  0.200456
39  12_M_2  15_M_3  0.201111
40  12_M_2  15_M_4  0.173706
41  12_M_2  15_M_5  0.187395
42  12_M_2   1_M_1  0.204473
43  12_M_2   1_M_2  0.207741
44  12_M_2   1_M_3  0.173128
45  12_M_2   1_M_4  0.192024
46  12_M_2   1_M_5  0.190323
47  12_M_2   7_M_1  0.135411
48  12_M_2   7_M_2  0.145185
49  12_M_2   7_M_3  0.184788

### Aggiunta colonne di utilità

In [3]:
def calcola_id_soggetto_da_utente(u):
    return f'{u.split("_")[0]}{u.split("_")[1]}'

def calcola_num_acquisizione_da_utente(u):
    return u.split('_')[-1]

In [4]:
scores['Primo soggetto'] = scores['Utente1'].apply(lambda u: calcola_id_soggetto_da_utente(u))
scores['Secondo soggetto'] = scores['Utente2'].apply(lambda u: calcola_id_soggetto_da_utente(u))
scores['Numero prima acquisizione'] = scores['Utente1'].apply(lambda u: calcola_num_acquisizione_da_utente(u))
scores['Numero seconda acquisizione'] = scores['Utente2'].apply(lambda u: calcola_num_acquisizione_da_utente(u))

scores.head()

,Utente1,Utente2,ScoreML,Primo soggetto,Secondo soggetto,Numero prima acquisizione,Numero seconda acquisizione
0,12_M_1,12_M_2,0.543131,12M,12M,1,2
1,12_M_1,12_M_3,0.507192,12M,12M,1,3
2,12_M_1,12_M_4,0.256462,12M,12M,1,4
3,12_M_1,12_M_5,0.293741,12M,12M,1,5
4,12_M_1,13_M_1,0.268435,12M,13M,1,1

### Calcolo delle pseudo-labels

In [5]:
def get_set_intra_classe(utente, scores):
    id_soggetto = calcola_id_soggetto_da_utente(utente)
    id_acquisizione = calcola_num_acquisizione_da_utente(utente)
    # Filtro per soggetto
    soggetto_scores = scores[(scores['Primo soggetto'] == id_soggetto) & (scores['Secondo soggetto'] == id_soggetto)]
    # Filtro per acquisizione
    soggetto_scores = soggetto_scores[(soggetto_scores['Numero prima acquisizione'] == id_acquisizione) | (soggetto_scores['Numero seconda acquisizione'] == id_acquisizione)]
    return set(soggetto_scores["ScoreML"])


def get_set_inter_classe(utente, scores):
    id_soggetto = calcola_id_soggetto_da_utente(utente)
    id_acquisizione = calcola_num_acquisizione_da_utente(utente)    
    
    id_soggetto = calcola_id_soggetto_da_utente(utente)
    id_acquisizione = calcola_num_acquisizione_da_utente(utente)
    # Filtro per soggetto
    soggetto_scores = scores[((scores['Primo soggetto'] == id_soggetto) & (scores['Secondo soggetto'] != id_soggetto)) | ((scores['Primo soggetto'] != id_soggetto) & (scores['Secondo soggetto'] == id_soggetto))]
    # Filtro per acquisizione
    soggetto_scores = soggetto_scores[(soggetto_scores['Utente1'] == utente) | (soggetto_scores['Utente2'] == utente)]
    return set(soggetto_scores["ScoreML"])

In [6]:
TRADE_OFF_PARAMETER = 1

lista_utenti = list(set(scores.Utente1.unique()) | set(scores.Utente2.unique()))
lista_utenti.sort()

In [7]:
df_labels = pd.DataFrame(columns=['Acquisizione', 'Label']) 

for utente in lista_utenti:
    set_intra_classe = get_set_intra_classe(utente, scores)
    QxP = mean(set_intra_classe)

    set_inter_classe = get_set_inter_classe(utente, scores)
    list_inter_classe = list(set_inter_classe)
    list_inter_classe.sort(reverse=True)
    list_confronto_intra_classe = list_inter_classe[0: len(set_intra_classe)]
    QxN = wasserstein_distance(list(set_intra_classe), list_confronto_intra_classe)

    label = QxP + TRADE_OFF_PARAMETER * QxN

    row_acquisizione = pd.DataFrame.from_dict({'Acquisizione': utente, 'Label': label}, orient='index').T
    df_labels = pd.concat([df_labels, row_acquisizione])

### Normalizzazione delle labels tra 0 e 100

In [8]:
min_label = df_labels.Label.min()
max_label = df_labels.Label.max()
df_labels['Label_norm'] = df_labels['Label'].apply(lambda l: 100 * (l - min_label)/(max_label - min_label))
df_labels = df_labels.reset_index(drop=True)

In [9]:
df_labels

   Acquisizione     Label  Label_norm
0        12_M_1  0.558931   14.387763
1        12_M_2  0.848155   90.057848
2        12_M_3  0.886156  100.000000
3        12_M_4  0.771945   70.119024
4        12_M_5  0.744003   62.808388
5        13_M_1  0.503938    0.000000
6        13_M_2  0.793221   75.685325
7        13_M_3   0.70952   53.786567
8        13_M_4  0.786351   73.888038
9        13_M_5  0.771363   69.966720
10       15_M_1  0.624072   31.430781
11       15_M_2  0.740303   61.840417
12       15_M_3  0.785655   73.705903
13       15_M_4   0.51121    1.902488
14       15_M_5  0.737501   61.107329
15        1_M_1  0.626038   31.945023
16        1_M_2  0.645315   36.988596
17        1_M_3  0.748941   64.100417
18        1_M_4  0.778964   71.955386
19        1_M_5  0.744593   62.962876
20        7_M_1  0.631854   33.466594
21        7_M_2  0.676648   45.186212
22        7_M_3  0.690237   48.741640
23        7_M_4  0.711983   54.430981
24        7_M_5  0.790774   75.045053
25        8_M_1  0.586663   21.643316
26        8_M_2  0.600935   25.377303
27        8_M_3  0.527504    6.165414
28        8_M_4  0.661332   41.178953
29        8_M_5  0.599394   24.974041

### Analisi su singola acquisizione

In [11]:
acquisizioneAnalisi = '13_M_1'
scores[(scores.Utente1 == acquisizioneAnalisi) | (scores.Utente2 == acquisizioneAnalisi)]

,Utente1,Utente2,ScoreML,Primo soggetto,Secondo soggetto,Numero prima acquisizione,Numero seconda acquisizione
4,12_M_1,13_M_1,0.268435,12M,13M,1,1
32,12_M_2,13_M_1,0.237045,12M,13M,2,1
59,12_M_3,13_M_1,0.216841,12M,13M,3,1
85,12_M_4,13_M_1,0.207680,12M,13M,4,1
110,12_M_5,13_M_1,0.199786,12M,13M,5,1
135,13_M_1,13_M_2,0.444066,13M,13M,1,2
136,13_M_1,13_M_3,0.343519,13M,13M,1,3
137,13_M_1,13_M_4,0.407245,13M,13M,1,4
138,13_M_1,13_M_5,0.325882,13M,13M,1,5
139,13_M_1,15_M_1,0.166957,13M,15M,1,1
140,13_M_1,15_M_2,0.143672,13M,15M,1,2
141,13_M_1,15_M_3,0.158405,13M,15M,1,3
142,13_M_1,15_M_4,0.147837,13M,15M,1,4
143,13_M_1,15_M_5,0.150421,13M,15M,1,5
144,13_M_1,1_M_1,0.180845,13M,1M,1,1
145,13_M_1,1_M_2,0.181287,13M,1M,1,2
146,13_M_1,1_M_3,0.222944,13M,1M,1,3
147,13_M_1,1_M_4,0.206000,13M,1M,1,4
148,13_M_1,1_M_5,0.199105,13M,1M,1,5
149,13_M_1,7_M_1,0.176739,13M,7M,1,1
150,13_M_1,7_M_2,0.189682,13M,7M,1,2
151,13_M_1,7_M_3,0.201232,13M,7M,1,3
152,13_M_1,7_M_4,0.195263,13M,7M,1,4
153,13_M_1,7_M_5,0.192248,13M,7M,1,5
154,13_M_1,8_M_1,0.125772,13M,8M,1,1
155,13_M_1,8_M_2,0.244380,13M,8M,1,2
156,13_M_1,8_M_3,0.215835,13M,8M,1,3
157,13_M_1,8_M_4,0.260428,13M,8M,1,4
158,13_M_1,8_M_5,0.252427,13M,8M,1,5